{
  "arrowParens": "always",
  "bracketSpacing": true,
  "importOrder": ["^#", "\\.\\/(?!.+\\.scss)", "\\.scss$"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "printWidth": 120,
  "semi": false,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "es5"
}
