.ant-input {
  border-color: var(--gray-light);
  color: var(--dark);
}

.ant-input:hover {
  border-color: var(--primary-main);
}

.ant-input:focus,
.ant-input-focused {
  border-color: var(--primary-main);
  box-shadow: none;
}

.ant-input:-webkit-autofill,
.ant-input:-webkit-autofill:hover,
.ant-input:-webkit-autofill:focus,
.ant-input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}
